<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background:conic-gradient(from 180deg at 50% 50%, #ff0000, #00ff00, #0000ff);
            color: white;
            font-family: Arial, sans-serif;
            text-align: center;
            
        }
    </style>
</head>
<body>
    <h1>Welcome to School Management Sytem for Kiruruma Secondary School</h1>
</body>
</html>